
.root {
  -fx-background-color: white;
}

.parent {
  /* -fx-background-color: blue; */
  /* -fx-border-insets: 5; */
  /* -fx-border-width: 0; */
  /* -fx-border-style: solid; */
}

.border {
  -fx-border-color: black;
  -fx-border-insets: 5; /* margin outside of border */
  -fx-border-width: 1;  /* Border thickness */
  -fx-border-style: solid;
}

.label {
  -fx-font-size: 14px;
}
